body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#info-panel {
  display: flex;
}

#region-select {
  display: flex;
  flex-direction: column;
}

#region-details {
  border: black 1px solid;
  position: relative;
  left: -1px;
  z-index: -1;
  padding: 10px;
}

#region-details h2 {
  margin: 0;
}

#region-details table {
  width: 100%;
}

th.cities {
  text-align: left;
  min-width: 300px;
}

th.population {
  text-align: right;
}

tr td:last-child {
  text-align: right;
}

button {
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
  background-color: white;
}

button.selected {
  border-right: 0;
}

tbody:before {
  content:"@";
  display:block;
  line-height:10px;
  text-indent:-99999px;
}
